{% extends "moviapi/base.html" %}
{% block content %}
  <div class="search-bar mt-sm-2 mr-2" >
    <form class="form-inline my-2 my-lg-0">
      <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="search"
              value="{{ request.GET.search }}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
<h1 id= "homeHeader">Movies</h1>
<div class="row">
    <p></p>
</div>
{% if movies %}
<div class="container">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
    <div class="row">
    {% for movie in movies %}
      <div class="col-md-4">
         <div class="card">
            <div class="card-header">
               <img class="card-img" src="{{ movie.image.url }}" alt="Card image">
            </div>
            <div class="card-body">
                <h1><a class="article-title" href="{% url 'moviapi-detail' movie.id %}">{{ movie.movie_title }}</a></h1>
               <div class="container">
                  <div class="row">
                     <div class="col-4 metadata">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p></p>
                     </div>
                     <div class="col-8 metadata">{{ movie.category }}</div>
                  </div>
               </div>
                    <div class="col-8 metadata">Rent {{ movie.rentalprice }}</div>
                    <div class="col-8 metadata">Buy {{ movie.saleprice }}</div>
                <div class="col-8 metadata">{{ movie.date_added|date }}</div>
               <a class="trailer-preview" href="{{ movie.trailer }}" target="new">
                     <i class="fa fa-play" aria-hidden="true"></i>
                     </a>
            </div>
         </div>
      </div>
        {% endfor %}
   </div>
</div>

{% else %}
<div class="container">
    <div class="row">
        <div class="card m-auto">
            <div class="card-body">
                <h2 class="card-title">
                    No results
                </h2>
                <p class="card-text">
                    There where no results matching your search: "{{request.GET.search}}"
                </p>
            </div>

        </div>
    </div>
</div>

{% endif %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}"> {{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}"> {{ num }}</a>
            {% endif %}
        {% endfor%}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}

{% endblock content%}