{% extends "moviapi/base.html" %}
{% block content %}
  <div class="search-bar mt-sm-2 mr-2" >
    <form class="form-inline my-2 my-lg-0">
      <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="search"
              value="{{ request.GET.search }}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
<h1 id= "descriptionHeader">{{ object.movie_title }}</h1>
<article class="media content-section">
    <img class="img-thumbnail article-img" src="{{ object.image.url }}">
    <div class="media-body">
        <div class="all-45"><p class="paraf">{{ object.description }}</p></div>

        <small class="text-muted">{{ object.date_added|date }}</small>
        <p><a class="mr-2">
        </a></p>
            <div class="bottom">
        <small class="text-muted">Rent {{ object.rentalprice }}</small>
        <small class="text-muted">Buy {{ object.saleprice }}</small>
                <div class="bottomava"><a class="text-muted">Available: {{ object.available }}</a></div>
            </div>

    </div>

    </div>

</article>
{% endblock content%}
